*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(60, 60, 233);
}

:where(.container,form, .input-feild){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    background: white;
    padding: 30px 65px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.container h4{
    font-size: 1.25rem;
    color: #333;
    font-weight: 500;
}
form .input-feild {
    flex-direction: row;
    column-gap: 10px;
}
form input{
    height: 45px;
    width: 42px;
}
.input-feild input{
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    text-align: center;
    border: 1px solid #ddd;
}

form button{
    margin-top: 25px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    background: blue;
    transition: all 0.2s ease;
}   