@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  
*{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.logo{
    font-size: 3rem !important;
    font-family: "Lobster", sans-serif;
}

.main{
    background-color: rgba(0, 255, 136, 0.2);
    display: flex;
    border-radius: 30px;
    margin: 10px;
}

h2{
    font-weight: bolder !important;
}

.custom-carousel-img {
    width: 700px !important;
    height: 500px !important;
    border-radius: 30px;
    margin: 20px;
    float: left;
    object-fit: cover;
}

.content{
    /* margin-top: 25px;
    margin-right: 30px; */
    padding-top: 25px;
    padding-right: 30px;
}


.footer{
    background-color: gainsboro;
    height: 100px;
    text-align: center;
    padding: 20px;
    display: block;
}

.reviews{
    background-color: rgba(146, 52, 148, 0.136);
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
}